body {
    font-family: "Helvetica", sans-serif;
}

#search-button {
    background-color: lightsteelblue;
    border: none;
    border-radius: 5%;
    cursor: pointer;
    width: 125px;
    height: 30px;
    font-size: 15px;
    margin: 5px;
}

#uid{
    border-radius: 5%;
    width: 275px;
    height: 23px;
    font-size: 15px;
    margin: 5px;
    margin-left: 0px;
}

#enter{
    left: 15px;
}

.search{
    float: left;
}

div {

    display: flex;
    min-height: 100vh;
}

textarea {
    width: 412px;
    height: 600px;
    border-radius: 2%;
}
